<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Default title
        {% endblock title %}
    </title>
    <link rel="stylesheet" href={% static "css/fonts.css" %}>
    <link rel="stylesheet" href={% static "css/normalize.css" %}>

    {% block style %}
        <link rel="stylesheet" href={% static "css/style.css" %}>
    {% endblock style %}
    <link rel="stylesheet" href={% static "css/media.css" %}>
    {% block headcontent %}{% endblock headcontent %}
</head>

<body>
{% block bgcontainer %}
    <div class="mainpage-bg bg-container">
{% endblock bgcontainer %}
<header class="header">
    <div class="container flex header__flex">
        <div class="header__logo">
            <h1 class="header__title subtitle visually-hidden">
                SWIFT ADVENTURE
            </h1>
            <a href="/">
                <img src={% static "css/img/logo.svg" %} alt="logo" class="header__img">
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__list list flex">
                <li class="header__item">
                    <a href="/" class="header__link link">Main</a>
                </li>
                <li class="header__item">
                    <a href="/scroll/1/sort=date/" class="header__link link">Scroll</a>
                </li>
                <li class="header__item">
                    <a href="/construct/level_1" class="header__link link">Create</a>
                </li>
                <li class="header__item">
                    <a href="/howto" class="header__link link">How to</a>
                </li>
            </ul>
            <div class="header__button button">
                <button class="header__button--block button--block">
                </button>
                <span class="header__button--bg button--bg button-sign_up">Log in</span>
            </div>
        </nav>
        <div class="header__burger--menu hidden">
            <nav class="header__nav--burger flex">
                <ul class="header__list--burger list flex">
                    <li class="header__item">
                        <a href="/" class="header__link link">Main</a>
                    </li>
                    <li class="header__item">
                        <a href="/scroll/1/sort=date/" class="header__link link">Scroll</a>
                    </li>
                    <li class="header__item">
                        <a href="/construct/level_1" class="header__link link">Create</a>
                    </li>
                    <li class="header__item">
                        <a href="/howto" class="header__link link">How to</a>
                    </li>
                </ul>
                <div class="header__button button">
                    <button class="header__button--block button--block">
                    </button>
                    <span class="header__button--bg button--bg button-sign_up-in-block">Log in</span>
                </div>
            </nav>
        </div>
        <div class="header__burger">
            <span class="header__burger--line top-line"></span>
            <span class="header__burger--line middle-line"></span>
            <span class="header__burger--line bottom-line"></span>
        </div>
    </div>
</header>
{% block maincontent %}
{% endblock maincontent %}
<div class="modal hidden">
    <div class="modal__window">
        <div class="hidden modal__auth modal-flex">
            <h2 class="modal__title subtitle">Registration</h2>
            <a href="" class="modal__link login link">Log in</a>
            <form class="modal__form form_registration flex" method="POST">
                {% csrf_token %}
                <span class="modal__inputs flex">
                {% for field in registration_form %}
                    <span class="modal__form--block">
                    {{ field }}
                    <label class="modal__label">{{ field.label }}</label>
                    </span>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </span>
                <span class="modal__agreement">
								<input type="checkbox" class="modal__checkbox checkbox" id="agreement" required>
								<label for="agreement">
									I agree with terms of
									<a href="/user_agreement/" class="modal__link modal__agreement--link link">
										user agreement
									</a> and
									<a href="/privacy_policy/" class="modal__link modal__agreement--link link">
										privacy policy
									</a>
								</label>
                </span>
                <div class="modal__button auth-btn button">
                    <input class="modal__button--block button--block" type="submit" value="">
                    <span class="modal__button--bg button--bg">Sign up</span>
                </div>
            </form>
        </div>
        <div class="modal__login flex modal-flex">
            <h2 class="modal__title subtitle">Log in</h2>
            <a href="" class="modal__link auth link">Sign up</a>
            <form class="modal__form form_login flex" method="POST">
                {% csrf_token %}
                <span class="modal__inputs flex">
                {% for field in login_form %}
                    <span class="modal__form--block">
                    {{ field }}
                    <label class="modal__label">{{ field.label }}</label>
                    </span>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </span>
                <div class="about__button modal__button login-btn button">
                    <button class="about__button--block button--block"></button>
                    <span class="about__button--bg button--bg">Play</span>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
<footer class="footer">
    <div class="container footer-container">
        <select class="footer__select">
            <option value="ru" class="footer__option rus">ru</option>
            <option value="en" class="footer__option eng">en</option>
        </select>
        <ul class="footer__list list">
            <li class="footer__item">
                <a href="/privacy_policy/" class="footer__link link">
                    Privacy policy
                </a>
            </li>
            <li class="footer__item">
                <a href="/user_agreement/" class="footer__link link">
                    User agreement
                </a>
            </li>
        </ul>
    </div>
</footer>
</div>
<script type="text/javascript" src={% static "js/login_registration.js" %}></script>
{% block scriptcontent %}
{% endblock scriptcontent %}
<script type="text/javascript">{{ script.0 }}"{{ script.1 }}"{{ script.2 }}</script>
<script type="text/javascript">message = "{{ message }}";
if (message != "") alert(message)</script>
</body>

</html>
