{% extends "base.html" %}
{% load static %}
{% block title %}
    Swift Adventure
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href={% static "css/style.css" %}>
{% endblock style %}
{% block headcontent %}
{% endblock headcontent %}
{% block bgcontainer %}
    <div class="game-bg bg-container">
{% endblock bgcontainer %}

{% block maincontent %}
    <main class="main">
    <section class="terms">
        <div class="container">
            <h1 class="terms__title subtitle">
                Пользовательское соглашение
            </h1>
            <article class="terms__article">
                <h2 class="terms__title subtitle visually-hidden">Вступление</h2>
                <p class="terms__text">
                    Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем
                    (далее или Администрация) с одной стороны и пользователем сайта с другой.
                </p>
                <p class="terms__text">
                    Сайт не является средством массовой информации.
                </p>
                <p class="terms__text">
                    Используя сайт, Вы соглашаетесь с условиями данного соглашения.
                </p>
                <p class="terms__text terms__bold">
                    Если Вы не согласны с условиями данного соглашения, не используйте сайт!
                </p>
            </article>
            <article class="terms__article">
                <h2 class="terms__title subtitle">
                    Предмет соглашения
                </h2>
                <ul class="terms__list list">
                    <li class="terms__bold">
                        Администрация предоставляет пользователю право на размещение на сайте следующей информации:
                    </li>
                    <li class="terms__item">
                        Текстовой информации
                    </li>
                    <li class="terms__item">
                        Аудиоматериалов
                    </li>
                    <li class="terms__item">
                        Видеоматериалов
                    </li>
                    <li class="terms__item">
                        Фотоматериалов
                    </li>
                    <li class="terms__item">
                        Ссылок на материалы, размещенные на других сайтах
                    </li>
                </ul>
            </article>
            <article class="terms__article">
                <h2 class="terms__title subtitle">
                    Права и обязанности сторон
                </h2>
                <ul class="terms__list list">
                    <li class="terms__bold">
                        Пользователь имеет право:
                    </li>
                    <li class="terms__item">
                        осуществлять поиск информации на сайте
                    </li>
                    <li class="terms__item">
                        получать информацию на сайте
                    </li>
                    <li class="terms__item">
                        создавать информацию для сайта
                    </li>
                    <li class="terms__item">
                        распространять информацию на сайте
                    </li>
                    <li class="terms__item">
                        комментировать контент, выложенный на сайте
                    </li>
                    <li class="terms__item">
                        копировать информацию на другие сайты с указанием источника
                    </li>
                    <li class="terms__item">
                        копировать информацию на другие сайты с разрешения правообладателя
                    </li>
                    <li class="terms__item">
                        требовать от администрации скрытия любой информации о пользователе
                    </li>
                    <li class="terms__item">
                        использовать информацию сайта в личных некоммерческих целях
                    </li>
                    <li class="terms__item">
                        использовать информацию сайта в коммерческих целях с разрешения правообладателей
                    </li>
                </ul>
                <ul class="terms__list list">
                    <li class="terms__bold">
                        Администрация имеет право:
                    </li>
                    <li class="terms__item">
                        по своему усмотрению и необходимости создавать, изменять, отменять правила
                    </li>
                    <li class="terms__item">
                        ограничивать доступ к любой информации на сайте
                    </li>
                    <li class="terms__item">
                        создавать, изменять, удалять информацию
                    </li>
                    <li class="terms__item">
                        удалять учетные записи
                    </li>
                    <li class="terms__item">
                        отказывать в регистрации без объяснения причин
                    </li>
                </ul>
                <ul class="terms__list list">
                    <li class="terms__bold">
                        Пользователь обязуется:
                    </li>
                    <li class="terms__item">
                        обеспечивать сохранность личных данных от доступа третьих лиц
                    </li>
                    <li class="terms__item">
                        обновлять Персональные данные, предоставленные при регистрации, в случае их изменения
                    </li>
                    <li class="terms__item">
                        не нарушать работоспособность сайта
                    </li>
                    <li class="terms__item">
                        не совершать действия, направленные на введение других Пользователей в заблуждение
                    </li>
                    <li class="terms__item">
                        не использовать скрипты (программы) для автоматизированного сбора информации и/или
                        взаимодействия с Сайтом и его Сервисами
                    </li>
                </ul>
                <ul class="terms__list list">
                    <li class="terms__bold">
                        Администрация обязуется:
                    </li>
                    <li class="terms__item">
                        поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим
                        от Администрации причинам
                    </li>
                    <li class="terms__item">
                        осуществлять разностороннюю защиту учетной записи Пользователя
                    </li>
                </ul>
            </article>
            <article class="terms__article">
                <h2 class="terms__title subtitle">
                    Ответственность сторон
                </h2>
                <ul class="terms__list list">
                    <li class="terms__item">
                        администрация не несет никакой ответственности за достоверность информации, скопированной из
                        других источников
                    </li>
                    <li class="terms__item">
                        администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами
                    </li>
                    <li class="terms__item">
                        в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение,
                        стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой
                        Пользователем, а также бесперебойную работу информационного ресурса
                    </li>
                </ul>
            </article>
            <article class="terms__article">
                <h2 class="terms__title subtitle">
                    Условия действия Соглашения
                </h2>
                <ul class="terms__list list">
                    <li class="terms__item">
                        Данное Соглашение вступает в силу при регистрации на сайте.
                    </li>
                    <li class="terms__item">
                        Соглашение перестает действовать при появлении его новой версии.
                    </li>
                    <li class="terms__item">
                        Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по
                        своему усмотрению.
                    </li>
                    <li class="terms__item">
                        При любом изменении данного соглашения, администрация будет оповещать пользователей удобным для
                        нее способом.
                    </li>
                </ul>
            </article>
        </div>
    </section>
{% endblock maincontent %}

{% block scriptcontent %}
{% endblock scriptcontent %}


