{% extends "base.html" %}
{% load static %}
{% block title %}
    How to
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href={% static "css/style.css" %}>
{% endblock style %}
{% block headcontent %}
{% endblock headcontent %}
{% block bgcontainer %}
    <div class="learningpage-bg bg-container">
{% endblock bgcontainer %}

{% block maincontent %}
    <main class="main">
    <div class="container">
        <article class="learning">
            <h2 class="learning__title subtitle">Обучение</h2>
            <div class="learning__block flex">
                <p class="learning__text">
                    Прежде чем приступить к созданию своей уникальной игры, просим Вас ознакомиться с небольшой
                    инструкцией по функционалу конструктора. В нашем конструкторе вы можете создать игровое поле
                    желаемых размеров (от 6х6 до 16х16), расположить на игровом поле различные элементы окружения так,
                    как вам этого хочется, а также задать цвет этих элементов и их текстовое изображение.
                </p>
                <img src={% static "css/img/logo.svg" %} alt="" class="learning__img">
            </div>
            <div class="learning__block flex">
                <img src={% static "css/img/logo.svg" %} alt="" class="learning__img">
                <p class="learning__text">
                    Для начала вам необходимо выбрать размеры игрового поля. Как было указано ранее, ширина и высота
                    игрового поля не могут быть менее 6 и более 16 ячеек. Создав игровое поле, вы можете приступить к
                    его редактированию. В окне выбора символов вы можете вручную вписать желаемый символ, в виде
                    которого будут отображаться выбранные элементы. Рядом с полем ввода символа вы можете выбрать и его
                    цвет. Для того, чтобы ваши настройки применились, необходимо нажать кнопку "Применить", а нажав
                    кнопку "Сбросить", вы сбросите все настройки до значений по умолчанию.
                </p>
            </div>
            <div class="learning__block flex">
                <p class="learning__text">
                    Для того, чтобы изменить ячейку, достаточно кликнуть на нее и в появившемся окне выбрать свойство
                    это ячейки. Можно выбрать сразу несколько ячеек, к которым вы хотите применить одно свойство. Чтобы
                    отменить выделение всех ячеек, достаточно нажать кнопку Escape, а повторный клик сбросит выделение
                    конкретной ячейки. На игровом поле нельзя расположить более одного игрока, более одного люка и более
                    одного бафа на хп или урон. При наличии на карте более 3 мобов, обязательно нужно предусмотреть
                    наличие Зелья здоровья, в противном случае игрок может умереть и пройти уровень будет невозможно.
                    Закончив редактирование карты, вы можете выбрать название уровня и его описание, после чего
                    необходимо сохранить все ваши изменения, нажав кнопку "Сохранить".
                </p>
                <img src={% static "css/img/logo.svg" %} alt="" class="learning__img">
            </div>
            <div class="learning__block flex">
                <img src={% static "css/img/logo.svg" %} alt="" class="learning__img">
                <p class="learning__text">
                    После успешного создания вашего уникального первого уровня, вы можете продолжить создание своей игры
                    и также успешного создать следующие уровни. С помощью кнопки "Добавить урвень" вы можете открыть
                    доступ к следующим уровням. Только будьте внимательны, при переходе с одного уровня на другой, все
                    несохраненные изменения будут утеряны.
                </p>
            </div>
        </article>
    </div>
{% endblock maincontent %}
