{% extends "base.html" %}
{% load static %}
{% block title %}
    How to
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href={% static "css/style.css" %}>
{% endblock style %}
{% block headcontent %}
{% endblock headcontent %}
{% block bgcontainer %}
    <div class="learningpage-bg bg-container">
{% endblock bgcontainer %}

{% block maincontent %}
    <main class="main">
    <div class="container">
        <article class="learning">
            <h1 class="learning__title subtitle">Обучение</h1>
            <div class="learning__block flex">
                <ul class="learning__list list">
                    <li class="learning__text">
                        Прежде чем приступить к созданию своей уникальной игры, просим тебя ознакомиться с небольшой
                        инструкцией по функционалу конструктора.
                    </li>
                    <li class="learning__text">
                        В нашем конструкторе ты можешь создать игровое поле желаемых размеров (от 6х6 до 16х16),
                        расположить на игровом поле различные элементы окружения так, как тебе этого хочется, а также
                        задать цвет этих элементов и их текстовое изображение.
                    </li>
                </ul>
                <img src={% static "css/img/create_field.gif" %} alt="Создание игрового поля" class="learning__img">
            </div>
            <div class="learning__block flex">
                <img src={% static "css/img/edit_field.gif" %} alt="Редактирование карты" class="learning__img">
                <ul class="learning__list list">
                    <li class="learning__text">
                        Для начала тебе необходимо выбрать размеры игрового поля. Как было указано ранее, ширина и
                        высота игрового поля не могут быть менее 6 и более 16 ячеек.
                    </li>
                    <li class="learning__text">
                        Для того, чтобы изменить ячейку, достаточно кликнуть на нее и в появившемся окне выбрать
                        свойство этой ячейки.
                    </li>
                    <li class="learning__text">
                        Можно выбрать сразу несколько ячеек, к которым ты хочешь применить одно свойство. Чтобы отменить
                        выделение всех ячеек, достаточно нажать кнопку Escape, а повторный клик сбросит выделение
                        конкретной ячейки.
                    </li>
                    <li class="learning__text">
                        На игровом поле нельзя расположить более одного игрока, более одного люка и более одного бафа на
                        хп или урон.
                    </li>
                    <li class="learning__text">
                        При наличии на карте более 3 мобов, обязательно нужно предусмотреть наличие Зелья здоровья, в
                        противном случае игрок может умереть и пройти уровень будет невозможно.
                    </li>
                </ul>
            </div>
            <div class="learning__block flex">
                <ul class="learning__list list">
                    <li class="learning__text">
                        В окне выбора символов ты можешь вручную вписать желаемый символ, в виде которого будут
                        отображаться выбранные элементы. Рядом с полем ввода символа ты можешь выбрать и его цвет.
                    </li>
                    <li class="learning__text">
                        Для того, чтобы твои настройки применились, необходимо нажать кнопку "Применить", а нажав кнопку
                        "Сбросить", ты сбросишь все настройки до значений по умолчанию.
                    </li>
                </ul>
                <img src={% static "css/img/change_symbols.gif" %} alt="Изменение символов" class="learning__img">
            </div>
            <div class="learning__block flex">
                <img src={% static "css/img/save_field.gif" %} alt="Сохранение уровня" class="learning__img">
                <ul class="learning__list list">
                    <li class="learning__text">
                        Закончив редактирование карты, ты можешь выбрать название уровня и его описание, после чего
                        необходимо сохранить все твои изменения, нажав кнопку "Сохранить".
                    </li>
                    <li class="learning__text">
                        С помощью кнопки "Добавить урвень" ты можешь открыть доступ к следующим уровням. Только будь
                        внимателен, при переходе с одного уровня на другой, все несохраненные изменения будут утеряны.
                    </li>
                </ul>
            </div>
        </article>
    </div>
{% endblock maincontent %}
