{% extends "base.html" %}
{% load static %}
{% block title %}
    Swift Adventure
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href={% static "css/normalize.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>
{% endblock style %}
{% block headcontent %}
{% endblock headcontent %}

{% block maincontent %}
    <main class="main">
        <section class="about">
            <div class="container flex about-flex">
                <h2 class="about__title subtitle">
                    Об игре
                </h2>
                <div class="about__info flex">
                    <p class="about__text">
                        Описание игры.Рандомный текст.Разнообразный и богатый опыт консультация с профессионалами из IT
                        требует
                        определения и уточнения форм воздействия. Не следует, однако.
                    </p>
                    <img src={% static "css/img/screenshot.jpg" %} alt="picture" class="about__img">
                </div>
                <div class="about__button button">
                    <a href="/map_1" class="about__button--block button--block"></a>
                    <span class="about__button--bg button--bg">Играть</span>
                </div>
            </div>
        </section>
{% endblock maincontent %}

{% block scriptcontent %}
{% endblock scriptcontent %}


