{% extends "base.html" %}
{% load static %}
{% block title %}Scroll{% endblock title %}
{% block headcontent %}
{% endblock headcontent %}
{% block bodycontent %}

    <div class="box">
        <h3>Сортировка по: -Популярности <br>
            -Дате</h3>
    </div>
    <div class="game">
        <div class="game1">
            <h3>никнейм</h3>
        </div>
        <div class="game1">
            <h3>дата</h3>
        </div>
    </div>
    <div class="box1">
        <div class="createGame">
            <h5>Созданная игра</h5>
        </div>
        <div class="box2">
            <div class="estimation">
            </div>
            <span>оцените</span>
        </div>
    </div>
    <div class="game">
        <div class="game1">
            <h3>никнейм</h3>
        </div>
        <div class="game1">
            <h3>дата</h3>
        </div>
    </div>
    <div class="box1">
        <div class="createGame">
            <h5>Созданная игра</h5>
        </div>
        <div class="box2">
            <div class="estimation">
            </div>
            <span>оцените</span>
        </div>
    </div>
{% endblock bodycontent %}