{% extends "base.html" %}
{% load static %}
{% block title %}Scroll{% endblock title %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock style %}
{% block bgcontainer %}
    <div class="feed-bg bg-container">
{% endblock bgcontainer %}
{% block maincontent %}
    <main class="main">
    <section class="feed">
        {% for post in content %}
            <article class="feed__post">
                <h2 class="feed__title subtitle">
                    <a href="/map_{{ post.mapID }}" class="">{{ post.mapTitle }}</a>
                </h2>
                <div class="feed__game">
                    Автор: {{ post.name }}.
                    Дата: {{ post.datetime.hour }}:{{ post.datetime.minute }} {{ post.datetime.year }}.
                    {{ post.datetime.month }}.{{ post.datetime.day }}
                </div>
                <p class="feed__text">
                    {{ post.mapDescription }}
                </p>
                <div class="feed__rate">
                    <button class="feed__btn feed__up"></button>
                    <div class="feed__count">
                        {{ post.rating }}
                    </div>
                    <button class="feed__btn feed__down"></button>
                </div>
            </article>
        {% endfor %}
        <div class="feed__buttons">
            <button class="feed__left feed__btn"></button>
            <button class="feed__right feed__btn"></button>
        </div>
    </section>
{% endblock maincontent %}

{% block scriptcontent %}
    <script type="text/javascript" src={% static "js/scroll.js" %}></script>
{% endblock scriptcontent %}
