:root {
    --hover-color: #00bdb3;
    --basic-color: rgba(255, 255, 255, 0.1);
    --basic-light: rgba(255, 255, 255, 0.2);
    --error-color: rgb(228, 4, 30);
    --health-color: rgb(200, 6, 6);

    --active-color: #14f7a4;
    --wall-color: #9c9c9c;
    --bg-color: #3a3a3a;
    --player-color: #00bdb3;
    --mob-color: #f5c542;
    --weapon-color: #a14fe4;
    --luke-color: #df731b;
    --potion-color: #df1b2b;
    --hp-buff-color: #69df1b;
    --damage-buff-color: #7f56f1;
}

.btn {
    align-self: flex-start;
    padding: 0 10px;
    width: 100px;
}

.error__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--error-color);
    text-align: center;
}

.options {
    margin-top: 80px;
}

.options--flex {
    flex-direction: row;
    justify-content: space-between;
}

.levels {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.levels__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.levels__link:hover {
    color: var(--hover-color);
}

.levels__nav {
    max-width: 100px;
    max-height: 100px;
    overflow: auto;
}

.grid {
    margin-bottom: 40px;
}

.grid__form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.grid__input {
    max-width: 50px;
    margin-bottom: 10px;
}

.symbols {
    margin-bottom: 40px;
}

.symbols__text {
    margin-bottom: 20px;
}

.symbols__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100px;
    overflow: auto;
}

.symbols__type {
    max-width: 50px;
}

.symbols__input {
    max-width: 50px;
    margin-bottom: 10px;
}

.symbols__option {
    display: flex;
    justify-content: space-between;
}

.instruction {
    margin-top: 40px;
}

.instruction__title {
    margin-bottom: 20px;
    font-size: 16px;
}

.instruction__item {
    margin-bottom: 10px;
}

.map {
    justify-content: space-around;
}

.map__options {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    min-height: 450px;
}

.map__btn {
    margin-left: 30px;
    align-self: flex-start;
}

.map__select {
    max-width: 300px;
    min-height: 100px;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    background-color: var(--basic-color);
    text-align: center;
    align-self: center;
}

.select__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select__text {
    margin-bottom: 10px;
}

.select__btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.select__type {
    display: flex;
    width: 140px;
}

.select__name {
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cell {
    border: 1px solid var(--basic-color);
    width: 35px;
    height: 35px;
    font-family: inherit;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #000;
}

.cell-no-border {
    width: 35px;
    height: 35px;
    font-family: inherit;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #000;
}

.wall {
    color: var(--wall-color);
}

.mob {
    color: var(--mob-color);
}

.weapon {
    color: var(--weapon-color);
}

.luke {
    color: var(--luke-color);
}

.potion {
    color: var(--potion-color);
}

.hp-buff {
    color: var(--hp-buff-color);
}

.damage-buff {
    color: var(--damage-buff-color);
}

.background {
    color: var(--bg-color);
}

.player {
    color: var(--player-color);
}

.active {
    background-color: var(--active-color);
    color: var(--active-color);
}

.active-link {
    color: var(--hover-color);
}

.color-input {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}