
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background {
    width: 100%;
    height: 800px;
    background: url('img/mainpage/Ellipse_10.svg') 880px 670px no-repeat,
    url('img/mainpage/Ellipse_11.svg') 750px 130px no-repeat,
    url('img/mainpage/Group_60.svg') 95px 404px no-repeat,
    url('img/mainpage/Group_61.svg') 860px 400px no-repeat,
    url('img/mainpage/Group_62.svg') 256px 42px no-repeat,
    url('img/mainpage/Polygon_10.svg') 531px 549px no-repeat,
    url('img/mainpage/Ellipse_9.svg') 0px 277px no-repeat;
    background-color: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    height: 100px;
}

nav {
    display: flex;
}

nav a {
    margin-right: 30px;
    text-decoration: none;
    color: #fff;
}

nav ul li {
    list-style-type: none;
}

nav ul {
    display: flex;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.log {
    background: linear-gradient(90deg, #1FEADE 16.67%, #26A2DF 105.95%);
    border-radius: 24px;
}

.rotate:hover {
    transform: rotateZ(-20deg);
}

.rotate {
    display: flex;
    transition: 0.4s linear;
    border: 3px solid #fff;
    border-radius: 24px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
}


.logo {
    display: flex;
    width: 175px;
    justify-content: center;
}

.swift {
    background: url('img/mainpage/backLogo.svg');
    background-repeat: no-repeat;
    background-size: 500px;
    border-radius: 50%;
    height: 208px;
    width: 208px;
    position: absolute;
    left: -9px;
    top: -66px;
    z-index: 2;
}

.logo1 {
    position: absolute;
    margin-left: -20px;
    z-index: 3;
}

.navLink:hover {
    background: #fff;
    color: #000;
}

.navLink {
    font-size: 16px;
    color: #ffffff;
    line-height: 16px;
}


.button {
    position: relative;
    display: flex;
    justify-content: center;
}

.buttonBg {
    display: inline-block;
    padding: 20px;
    width: 247px;
    height: 104px;
    border: none;
    border-radius: 45px;
    background: radial-gradient(101.71% 667.73% at 16.95% 25.25%, #1EEADE 21.73%, rgb(33, 88, 228) 97.84%);
    box-shadow: 0px 3.78302px 4.72877px #40DBD2;
    font-size: 45px;
    color: #fff;
    font-style: italic;
    text-align: center;
}

.entry {
    position: absolute;
    right: 340px;
    top: 16px;
    width: 85px;
    height: 35px;
    background-color: transparent;
    border: 4px solid #FFF9F9;
    border-radius: 51px;
    transform: rotate(-8.78deg);
    transition: 0.6s ease all;
    -moz-transition: 0.6s ease all;
    -webkit-transition: 0.6s ease all;
    cursor: pointer;
}


.headerBtn {
    margin-left: auto;
    position: relative;
}

.headerBtn--bg {
    display: inline-block;
    padding: 10px;
    width: 84px;
    height: 35px;
    border: none;
    border-radius: 40px;
    background: radial-gradient(101.71% 667.73% at 16.95% 25.25%, #1EEADE 21.73%, rgb(33, 88, 228) 97.84%);
    box-shadow: 0px 3.78302px 4.72877px #40DBD2;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.headerBtn--block {
    position: absolute;
    width: 87px;
    height: 37px;
    background-color: transparent;
    border: 2px solid #FFF9F9;
    border-radius: 51px;
    transform: rotate(-8.78deg);
    transition: 0.6s ease all;
    -moz-transition: 0.6s ease all;
    -webkit-transition: 0.6s ease all;
    cursor: pointer;
}

.headerBtn--block:hover {
    transform: none;
}

.entry1 {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 85px;
    height: 5px;
    border: none;
    border-radius: 45px;
    background: radial-gradient(101.71% 667.73% at 16.95% 25.25%, #1EEADE 21.73%, rgb(33, 88, 228) 97.84%);
    box-shadow: 0px 3.78302px 4.72877px #40DBD2;
    font-size: 24px;
    color: #fff;
    font-style: italic;
    text-align: center;
}

.entry:hover {
    transform: none;
}

.buttonBlock {
    position: absolute;
    width: 254px;
    height: 108px;
    background-color: transparent;
    border: 4px solid #FFF9F9;
    border-radius: 51px;
    transform: rotate(-8.78deg);
    transition: 0.6s ease all;
    -moz-transition: 0.6s ease all;
    -webkit-transition: 0.6s ease all;
    cursor: pointer;
}

.buttonBlock:hover {
    transform: none;
}

.box {
    width: 60%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    align-items: center;
}

.description {
    width: 70%;
    margin-right: 60px;
}

.description h2 {
    color: #2158E4;
    font-family: Quantico;
    line-height: 26px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 27px;
}

.description h3 {
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.gif {
    width: 202px;
    height: 153px;
}

.bgGif {
    z-index: 1111;
    background-size: 100px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
}

.game {
    display: flex;
    justify-content: center;
}

.game a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(101.71% 667.73% at 16.95% 25.25%, #1EEADE 21.73%, rgba(33, 88, 228, 0.7) 97.84%);
    color: #fff;
    font-size: 44px;
    text-decoration: none;
    height: 110px;
    border-radius: 40px;
}

.tg:hover {
    transform: rotateZ(-20deg)
}

.tg {
    padding: 25px 60px 25px 60px;
    text-decoration: none;
    border-radius: 40px;
    border: 5px solid #fff;
    transition: .4s linear;
}

footer {
    background: #2158E4;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    font-size: 24px;
    color: #FEFAFA;
    text-align: center;
    padding-left: 50px;
}