@media (max-width: 735px) {
    .map {
        flex-direction: column;
        align-items: center;
    }

    .map__options {
        flex-direction: row;
        max-width: 400px;
    }
}

@media (max-width: 715px) {
    .header__logo {
        margin-right: auto;
    }

    .header__nav {
        display: none;
    }

    .header__burger {
        display: flex;
    }

}

@media (max-width: 620px) {
    .mainpage-bg {
        background: url('../img/mainpage_bg_1.svg') 46% 4% no-repeat,
        url('../img/mainpage_bg_2.svg') 8% 96% no-repeat,
        url('../img/mainpage_bg_3.svg') 97% 70% no-repeat,
        url('../img/mainpage_bg_6.svg') 90% 30% no-repeat;
        background-color: #000;
    }

    .modal__window {
        background: url('../img/auth_bg_2.svg') 2% 70% no-repeat,
        url('../img/auth_bg_4.svg') 98% 21% no-repeat;
        background-color: #000;
    }

    .modal__inputs {
        min-width: 0;
    }

    .cell, .cell-no-border {
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 30px;
    }

}

@media (max-width: 540px) {
    .about__info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about__title {
        margin-left: 0;
    }

    .about-flex {
        text-align: left;
    }

    .options {
        flex-wrap: wrap;
    }

    .levels {
        margin-bottom: 10px;
    }

    .symbols {
        flex-grow: 2;
        margin-top: 10px;
    }

    .symbols__text {
        text-align: center;
    }

    .symbols__list {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .symbols__option {
        width: 150px;
    }

    .symbols__buttons {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .game__text {
        min-width: 0;
    }
}

@media (max-width: 480px) {
    .cell, .cell-no-border {
        width: 25px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
    }
}

@media (max-width: 415px) {
    .modal__button {
        font-size: 19px;
        letter-spacing: 0.1em;
    }

    .modal__button--bg {
        width: 250px;
        padding-top: 22px;
    }

    .modal__button--block {
        width: 252px;
    }

    .map__options {
        justify-content: center;
    }

    .map__select {
        order: 0;
        margin-top: 0;
    }

    .map__options--form {
        order: 1;
        margin-right: 0;
    }
}