<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Default title
        {% endblock title %}
    </title>
    {% block style %}
        <link rel="stylesheet" href={% static "css/style.css" %}>
    {% endblock style %}
    {% block headcontent %}{% endblock headcontent %}
</head>

<body>
<div class="mainpage-bg bg-container">
    <header class="header">
        <div class="container flex header__flex">
            <div class="header__logo">
                <h1 class="header__title subtitle visually-hidden">
                    SWIFT ADVENTURE
                </h1>
                <a href="/">
                    <img src={% static "img/logo.svg" %} alt="logo" class="header__img">
                </a>
            </div>
            <nav class="header__nav">
                <ul class="header__list list flex">
                    <li class="header__item">
                        <a href="/" class="header__link link">Главная</a>
                    </li>
                    <li class="header__item">
                        <a href="/scroll" class="header__link link">Лента</a>
                    </li>
                    <li class="header__item">
                        <a href="/construct" class="header__link link">Конструктор</a>
                    </li>
                    <li class="header__item">
                        <a href="/howto" class="header__link link">Обучение</a>
                    </li>
                </ul>
                <div class="header__button button">
                    <button class="header__button--block button--block">
                    </button>
                    <span class="header__button--bg button--bg">Вход</span>
                </div>
            </nav>
            <div class="header__burger--menu hidden">
                <nav class="header__nav--burger flex">
                    <ul class="header__list--burger list flex">
                        <li class="header__item">
                            <a href="/" class="header__link link">Главная</a>
                        </li>
                        <li class="header__item">
                            <a href="/scroll" class="header__link link">Лента</a>
                        </li>
                        <li class="header__item">
                            <a href="/construct" class="header__link link">Конструктор</a>
                        </li>
                        <li class="header__item">
                            <a href="/howto" class="header__link link">Обучение</a>
                        </li>
                    </ul>
                    <div class="header__button button">
                        <button class="header__button--block button--block">
                        </button>
                        <span class="header__button--bg button--bg">Вход</span>
                    </div>
                </nav>
            </div>
            <div class="header__burger">
                <span class="header__burger--line top-line"></span>
                <span class="header__burger--line middle-line"></span>
                <span class="header__burger--line bottom-line"></span>
            </div>
        </div>
    </header>
    {% block maincontent %}
    {% endblock maincontent %}
    <footer class="footer">
        <ul class="footer__list list">
            <li class="footer__item">
                <a href="document/privacy_policy" class="footer__link link">
                    Пользовательские соглашения
                </a>
            </li>
            <li class="footer__item">
                <a href="document/privacy_policy" class="footer__link link">
                    Политика конфиденциальности
                </a>
            </li>
        </ul>
    </footer>
</div>
<script type="text/javascript" src={% static "js/login_registration.js" %}></script>
{% block scriptcontent %}
{% endblock scriptcontent %}
</body>

</html>
