{% extends "en/base.html" %}
{% load static %}
{% block title %}
    Swift Adventure
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href={% static "css/style.css" %}>
{% endblock style %}
{% block headcontent %}
{% endblock headcontent %}
{% block bgcontainer %}
    <div class="game-bg bg-container">
{% endblock bgcontainer %}

{% block maincontent %}
    <main class="main">
    <article class="about">
        <div class="container flex about-flex">
            <h2 class="about__title subtitle">
                User Agreement
            </h2>
            <p class="about__text">This User Agreement (Hereinafter the agreement) regulates the relationship between
                the owner (hereinafter or Administration) on the one hand and the user on the other.
            </p>
            <p class="about__text">The Site is not a media outlet.
            </p>
            <p class="about__text">By using the site, You agree to the terms of this agreement.
            </p>
            <p class="about__text"><b>If You do not agree to the terms of this agreement, do not use the site!</b>
            </p>
            <h2 class="about__title subtitle">Subject of the agreement</h2>
            <span class="about__item--title">The Administration grants the user the right to place the following information on the site:</span>
            <p class="about__text"> - Text information, audio materials, video materials, and photo materials
            <p class="about__text"> - Links to materials published on other sites
                < / p>
            <h2 class="about__title subtitle">Rights and obligations of the parties</h2>
            <span class="about__item--title">The site User has the right to:</span>
            <p class="about__text"> - search for information on the site and get information on the site
            </p>
            <p class="about__text"> - create information for the site and distribute information on the site
            </p>
            <p class="about__text"> - comment on content posted on the site
            </p>
            <p class="about__text"> - copy information to other sites indicating the source
            </p>
            <p class="about__text"> - copy information to other sites with the permission of the copyright holder
            </p>
            <p class="about__text"> - require the administration to hide any information about the user
            </p>
            <p class="about__text">- use the information of the website for personal, non-commercial purposes
            </p>
            <p class="about__text"> - use the site's information for commercial purposes with the permission of the
                copyright holders
            </p>
            <h2 class="about__title subtitle">The Administration has the right:</h2>
            <p class="about__text"> - create, change, or cancel rules at your own discretion
            </p>
            <p class="about__text"> - restrict access to any information on the site
            </p>
            <p class="about__text"> - create, change, delete information on site
            </p>
            <p class="about__text"> - refuse registration without explanation and delete accounts
            </p>
            <h2 class="about__title subtitle">The User undertakes:</h2>
            <p class="about__text"> - ensure the safety of personal data from access by third parties
            </p>
            <p class="about__text"> - update the Personal data provided during registration, if they change
            </p>
            <p class="about__text"> - do not disrupt the site's functionality
            </p>
            <p class="about__text"> - do not perform actions aimed at misleading other Users
            </p>
            <p class="about__text"> - do not use scripts (programs) for automated information collection and / or
                interaction with the Site and its Services
            </p>
            <h2 class="about__title subtitle">The Administration is committed to:</h2>
            <p class="about__text"> - maintain the site's functionality, except in cases when this is not possible for
                reasons beyond the control of the Administration.
            </p>
            <p class="about__text"> - provide comprehensive user account protection
            </p>
            <h2 class="about__title subtitle">Liability of the parties</h2>
            <p class="about__text"> - the administration is not responsible for the accuracy of information copied from
                other sources
            </p>
            <p class="about__text"> - the administration is not responsible for the services provided by third parties
            </p>
            <p class="about__text">-in the event of a force majeure situation (fighting, emergency, natural disaster,
                etc.), the Administration does not guarantee the safety of information posted by the User, as well as
                the smooth operation of the information resource
            </p>
            <h2 class="about__title subtitle">Terms of the Agreement</h2>
            <p class="about__text">This Agreement comes into force when you register on the site.
            </p>
            <p class="about__text">the agreement ceases to apply when a new version of It appears.
            </p>
            <p class="about__text">the Administration reserves the right to unilaterally change this agreement at its
                discretion.
            </p>
            <p class="about__text">In case of any change to this agreement, the administration will notify users in a
                convenient way.
            </p>
        </div>
    </article>
{% endblock maincontent %}

{% block scriptcontent %}
{% endblock scriptcontent %}


