{% extends "en/base.html" %}
{% load static %}
{% block title %}
    Swift Adventure
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href={% static "css/style.css" %}>
{% endblock style %}
{% block headcontent %}
{% endblock headcontent %}
{% block bgcontainer %}
    <div class="game-bg bg-container">
{% endblock bgcontainer %}

{% block maincontent %}
    <main class="main">
    <article class="privacy">
        <div class="container">
            <h2 class="privacy__title subtitle">Personal data processing Policy</h2>
            <ol class="privacy__list">
                <li class="privacy__item">
                    Generalities
                    <p class="privacy__item--text">
                        This personal data processing policy is compiled in accordance with the requirements of Federal
                        law No. 152-FZ of 27.07.2006 "on personal data" and defines the procedure for processing
                        personal data and measures to ensure the security of personal data taken by the organization
                        (hereinafter referred to as the Operator).
                    </p>
                    <ol class="privacy__list">
                        <li class="privacy__item">
                            The operator sets as its most important goal and condition for the implementation of its
                            activities the observance of human and civil rights and freedoms in the processing of
                            personal data, including the protection of the rights to privacy, personal and family
                            secrets.
                        </li>
                        <li class="privacy__item">
                            This Operator's policy on personal data processing (hereinafter referred to as the Policy)
                            applies to all information that the Operator can obtain about website visitors <a
                                href="http://f7066960cc1b.ngrok.io" class="privacy__link link">http://f7066960cc1b.ngrok.io</a>.
                        </li>
                    </ol>
                </li>
                <li class="privacy__item">
                    Basic concepts used in the Policy
                    <ol class="privacy__list">
                        <li class="privacy__item">
                            Automated processing of personal data – processing of personal data using computer
                            technology;
                        </li>
                        <li class="privacy__item">
                            Blocking of personal data-temporary termination of processing of personal data (except for
                            cases when processing is necessary to clarify personal data);
                        </li>
                        <li class="privacy__item">
                            Website – a set of graphic and informational materials, as well as computer programs and
                            databases that ensure their availability on the Internet at the network address <a
                                href="http://f7066960cc1b.ngrok.io" class="privacy__link link">http://f7066960cc1b.ngrok.io</a>;
                        </li>
                        <li class="privacy__item">
                            Personal data information system — a set of personal data contained in databases, and
                            information technologies and technical means that ensure their processing;
                        </li>
                        <li class="privacy__item">
                            Depersonalization of personal data — actions that make it impossible to determine the
                            identity of personal data to a specific User or other personal data subject without using
                            additional information;
                        </li>
                        <li class="privacy__item">
                            Personal data processing – any action (operation) or set of actions (operations) performed
                            with or without the use of automation tools with personal data, including collection,
                            recording, systematization, accumulation, storage, clarification (update, change),
                            extraction, use, transfer (distribution, provision, access), depersonalization, blocking,
                            deletion, destruction of personal data;
                        </li>
                        <li class="privacy__item">
                            Operator – a state body, municipal body, legal entity or individual that independently or
                            jointly with other persons organizes and (or) performs the processing of personal data, as
                            well as determines the purposes of processing personal data, the composition of personal
                            data to be processed, actions (operations) performed with personal data;
                        </li>
                        <li class="privacy__item">
                            Personal data – any information related directly or indirectly to a specific or identifiable
                            website User <a href="http://f7066960cc1b.ngrok.io" class="privacy__link link">http://f7066960cc1b.ngrok.io</a>;
                        </li>
                        <li class="privacy__item">
                            User – any visitor to the website <a href="http://f7066960cc1b.ngrok.io"
                                                                 class="privacy__link link">http://f7066960cc1b.ngrok.io</a>;
                        </li>
                        <li class="privacy__item">
                            Provision of personal data – actions aimed at disclosure of personal data to a certain
                            person or a certain circle of persons;
                        </li>
                        <li class="privacy__item">
                            Distribution of personal data – any actions aimed at disclosure of personal data to an
                            indefinite circle of persons (transfer of personal data) or at familiarization with personal
                            data of an unlimited number of persons, including disclosure of personal data in the mass
                            media, placement in information and telecommunications networks, or providing access to
                            personal data in any other way;
                        </li>
                        <li class="privacy__item">
                            Cross-border transfer of personal data – transfer of personal data to the territory of a
                            foreign state to a foreign state authority, a foreign individual or a foreign legal entity
                        </li>
                        <li class="privacy__item">
                            Destruction of personal data – any actions as a result of which personal data is irrevocably
                            destroyed with the inability to further restore the content of personal data in the personal
                            data information system and (or) the material carriers of personal data are destroyed.
                        </li>
                    </ol>
                </li>
                <li class="privacy__item">
                    The operator can process the following personal data of the User
                    <ol class="privacy__list">
                        <li class="privacy__item">
                            Email address;
                        </li>
                        <li class="privacy__item">
                            Also on the website, the collection and processing of anonymous data about visitors
                            (including "cookies") through the services of Internet statistics (Yandex Metric and Google
                            Analytics and others).
                        </li>
                        <li class="privacy__item">
                            The above-mentioned data is further grouped under the General concept of Personal data.
                        </li>
                    </ol>
                </li>
                <li class="privacy__item">
                    Purposes of personal data processing
                    <ol class="privacy__list">
                        <li class="privacy__item">
                            The purpose of processing the User's personal data is to provide the User with access to the
                            services, information and/or materials contained on the website.
                        </li>
                        <li class="privacy__item">
                            The Operator also has the right to send notifications to the User about new products and
                            services, special offers and various events. The user can always refuse to receive
                            informational messages by sending an email to the Operator at <a
                                href="mailto:privacy@thismywebsite.com" class="privacy__link link">privacy@thismywebsite.com</a>
                            marked "Unsubscribe from notifications of new products and services and special offers".
                        </li>
                        <li class="privacy__item">
                            Depersonalized User data collected through Internet statistics services is used to collect
                            information about User actions on the site, improve the quality of the site and its content.
                        </li>
                    </ol>
                </li>
                <li class="privacy__item">
                    Legal grounds for processing personal data
                    <ol class="privacy__list">
                        <li class="privacy__item">
                            The operator processes the User's personal data only if they are filled in and / or sent by
                            the User independently via special forms located on the site <a
                                href="http://f7066960cc1b.ngrok.io" class="privacy__link link">http://f7066960cc1b.ngrok.io</a>.
                            By filling out the appropriate forms and / or sending your personal data to the Operator,
                            the User agrees to this Policy.
                        </li>
                        <li class="privacy__item">
                            The operator processes depersonalized data about the User if this is allowed in the User's
                            browser settings (saving cookies and using JavaScript technology is enabled).
                        </li>
                    </ol>
                </li>
                <li class="privacy__item">
                    Procedure for collecting, storing, transferring and other types of personal data processing
                    <p class="privacy__item--text">
                        The security of personal data processed by the Operator is ensured by implementing legal,
                        organizational and technical measures necessary to fully comply with the requirements of current
                        legislation in the field of personal data protection.
                    </p>
                    <ol class="privacy__list">
                        <li class="privacy__item">
                            The operator ensures the safety of personal data and takes all possible measures to prevent
                            access to personal data of unauthorized persons.
                        </li>
                        <li class="privacy__item">
                            The User's personal data will never, under any circumstances, be transferred to third
                            parties, except in cases related to the implementation of current legislation.
                        </li>
                        <li class="privacy__item">
                            If inaccuracies in personal data are detected, the User can update them independently by
                            sending a notification to the Operator's email address <a
                                href="mailto:privacy@thismywebsite.com" class="privacy__link link">privacy@thismywebsite.com</a>
                            marked "updating personal data".
                        </li>
                        <li class="privacy__item">
                            The term for processing personal data is unlimited. The user can withdraw their consent to
                            the processing of personal data at any time by sending a notification to the Operator via
                            email to the Operator's email address <a href="mailto:privacy@thismywebsite.com"
                                                                     class="privacy__link link">privacy@thismywebsite.com</a>
                            marked "Withdrawal of consent to the processing of personal data".
                        </li>
                    </ol>
                </li>
                <li class="privacy__item">
                    Cross-border transfer of personal data
                    <ol class="privacy__list">
                        <li class="privacy__item">
                            The operator must ensure that the rights of personal data subjects are reliably protected by
                            the foreign state to which the personal data is intended to be transferred prior to the
                            start of cross-border transfer of personal data.
                        </li>
                        <li class="privacy__item">
                            Cross-border transfer of personal data on the territory of foreign States that do not meet
                            the above requirements can only be carried out if the personal data subject agrees in
                            writing to cross-border transfer of his/her personal data and / or performs the contract to
                            which the personal data subject is a party.
                        </li>
                    </ol>
                </li>
                <li class="privacy__item">
                    Final provision
                    <ol class="privacy__list">
                        <li class="privacy__item">The user can get any clarifications on issues of interest related to
                            the processing of their personal data by contacting the Operator via email <a
                                    href="mailto:privacy@thismywebsite.com" class="privacy_ _ link link">privacy@thismywebsite.com</a>.
                        </li>
                        <li class="privacy__item">
                            This document will reflect any changes to the Operator's personal data processing policy.
                            The policy is valid indefinitely until it is replaced with a new version.
                        </li>
                        <li class="privacy__item">The current version of the Policy is freely available on the Internet
                            at <a href="httpsː//thismywebsite.com/privacy/ " class=" privacy__link link ">httpsː//thismywebsite.com/privacy/</a>.
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </article>
    <div>
{% endblock maincontent %}

{% block scriptcontent %}
{% endblock scriptcontent %}


