{% extends "en/base.html" %}
{% load static %}
{% block title %}Scroll{% endblock title %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Constructor.css' %}">
{% endblock style %}
{% block maincontent %}
    <br><br><br>
    <div class="box">
        <h3>Сортировка по: <br><a href="/scroll/1/sort_popularity" class="header__link link">-Популярности</a> <br>
            <a href="/scroll/1/sort_date" class="header__link link">-Дате</a></h3>
    </div>
    <div class="game">
        <div class="game1">
            <h3>никнейм</h3>
        </div>
        <div class="game1">
            <h3>дата</h3>
        </div>
    </div>
    <div class="box1">
        <div class="createGame">
            <h5>Созданная игра</h5>
        </div>
        <div class="box2">
            <div class="estimation">
            </div>
            <span>оцените</span>
        </div>
    </div>
    <div class="game">
        <div class="game1">
            <h3>никнейм</h3>
        </div>
        <div class="game1">
            <h3>дата</h3>
        </div>
    </div>
    <div class="box1">
        <div class="createGame">
            <h5>Созданная игра</h5>
        </div>
        <div class="box2">
            <div class="estimation">
            </div>
            <span>оцените</span>
        </div>
    </div>
{% endblock maincontent %}

{% block scriptcontent %}
    <script type="text/javascript" src={% static "js/scroll.js" %}></script>
{% endblock scriptcontent %}
