{% extends "base.html" %}
{% load static %}
{% block title %}Demo{% endblock title %}
{% block headcontent %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
{% endblock headcontent %}
{% block bodycontent %}
        <p>Ширина/высота игрового поля</p>
        <p>
         <form id="matrix_create">
            <input id="matrix_input_width" type="number" min="4" max="16" value="9">
            <input id="matrix_input_height" type="number" min="4" max="30" value="8">
        </form>
     <button id="matrix_input_btn">Применить</button>
    </p>
    <div class="field">
    </div>
    <div class="select">
        <div action="" class="select__form">
            <input type="radio" class="checkbox select__wall" value="wall" name="a1">Стена
            <input type="radio" class="checkbox select__mob" value="mob" name="a1">Моб
            <input type="radio" class="checkbox select__background" value="background" name="a1">Фон
            <input type="radio" class="checkbox select__spawn" value="background" name="a1">Спаун игрока
            <button class="select__btn">Применить</button>
        </div>
    </div>
    <p>Параметры игрока</p>
        <textarea id="player_stats" maxlength="100" rows="5" cols="30" >Здоровье= 5; Урон= 3; Описание= "";</textarea>
    <p>Параметры выбранного объекта</p>
        <textarea id="object_stats" maxlength="100" rows="5" cols="30">Здоровье= 5; Урон= 3; Описание= "";</textarea>
    <script type="text/javascript" src={% static "js/demo.js" %}></script>
{% endblock bodycontent %}